{%  if game %}
    <h1 id="gametitle">{{ game.name }}</h1>
    <section class="container">
        <div id="carousel" class="panels-backface-invisible">
            {% for game in games %}
        {% if game.img_logo_url %}
            <a href="steam://run/{{ game.appid }}"><img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_logo_url }}.jpg" width="368" height="138" /></a>
        {% elseif game.img_icon_url %}
            <a href="steam://run/{{ game.appid }}"><img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg" width="138" height="138" /></a>
            {% else %}
                <a href="steam://run/{{ game.appid }}">Install/Play</a>
        {% endif %}
            {% endfor %}
        </div>
    </section>

    <br />
    <br />
    <div id="players">

        <a href="steam://run/{{ game.appid }}">Install/Play</a><br/>
        {% for player in players %}
            <img src="{{ player.avatar }}" /> {{ player.personaname }}<br/>
        {% endfor %}
    </div>
    <script src="/js/waitforimages.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/results.js"></script>
{% else %}

    <h1>Steam Roulette (Family Sharing Edition)</h1>
    <form method="get" action="/" id="urls">
        <div id="inputs">
        <input type="text" name="url[]" placeholder="Enter Steam URL"/>
        </div>
        <input type="submit" />
    </form>

    <div id="loading" style="display:none"><img src="/images/loading.gif" /></div>
    <div id="games"></div>
    <script src="/js/roulette.js"></script>
    <script src="/js/waitforimages.min.js"></script>
{% endif %}
